@font-face {
    font-family: 'Imprebooks';
    src: url(/font/ImprebooksFont.otf);
    font-weight: bold;
}
h1{
    font-family: 'Imprebooks';
    font-size: 50px;
}
.FormatoTitulo {

    text-align: center;
    font-family: 'Imprebooks';
    font-size: 50px;
    color: rgba(210, 2, 148, 0.668);
    justify-content: center;
    padding-top: 0px;

}

.logo {
    max-width: 200px;
}

header {
    
    display: block;
    justify-content: center;

    a {
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;

        

        justify-content: center;


        ul {
           

            li {
                display: inline-block;
                background-color: #f79ce2;
                padding: 25px;
                margin: 25px;
                border-radius: 15%;
                a {

                    font-family: 'pacifico';
                    color: rgba(210, 2, 148, 0.668);
                    font-size: 35px;
                    text-decoration: none;
                    padding-inline: 25px;
                    


                }
            }
        }
    }
}
.boton-pop:hover{
    font-family: 'pacifico';
    color: rgba(7, 7,  7, 0.668);
    font-size: 35px;
    text-decoration: none;
    padding-inline: 25px;
}


h2 {
    font-family: 'Pacifico';
    color: rgba(210, 2, 148, 0.668);
    font-size: 35px;
}

h3 {
    font-family: 'Pacifico';
    color: rgba(210, 2, 148, 0.668);
}

.textespecial {
    font-family: 'Imprebooks';
    font-size: 30px;
    text-align: center;

}

body {
   background-image: url(/img/fondo_imprebook.png);
   background-size: cover ;
   background-position: center;

    main {

        text-align: center;
    }

    footer {
        text-align: center;
        font-style: oblique;
        background-color: #f79ce2;
    }
}

.personaliza {

    max-width: 300px;
    height: 300; 

}

.gridcontent_pers{
    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25px 1fr;
    grid-gap: 25px;



}

#Esquineros{

    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    
    
}

#Elasticos{
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;

}

#Ojetillos {
    grid-column: 3 / span 4;
    grid-row: 2 / span 2;
}
#Holografico {
    grid-column: 4 / span 4;
    grid-row: 2 / span 2;
}


.gridContentContac {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}

.gridItem {
    margin: 25px;
    padding: 25px;
    
}
