body {
    display: flex;
    flex-direction: column; /* Cambiado a columna para alinear verticalmente */
    align-items: center; /* Centra horizontalmente todo el contenido */
    background-image: url(/img/fondo_imprebook.png);
    background-size: cover;
    background-position: center;
    footer {
        width: 100%;
        text-align: center;
        font-style: oblique;
        background-color: #f79ce2;
    }
}